<ion-header>
  <ion-toolbar>
    <ion-title i18n>Not Found</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title i18n>Uh oh!</ion-card-title>
      <ion-card-subtitle i18n>Something’s missing.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-padding">
      <ion-grid class="ion-text-center ion-align-items-center">
        <ion-row><ion-col><p>Either something’s gone wrong, or you’ve clicked on a broken link. Let’s try again.</p></ion-col></ion-row>
        <ion-row><ion-col><ion-button routerLink="/">Home</ion-button></ion-col></ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
