<ion-tabs selectedIndex="1">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="liturgy">
      <fa-icon [icon]="faBook"></fa-icon>
      <ion-label i18n>Liturgy</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="prayer">
      <fa-icon [icon]="faPrayingHands"></fa-icon>
      <ion-label i18n>Prayers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="psalm">
      <fa-icon [icon]="faMusic"></fa-icon>
      <ion-label>Psalms</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="collect">
      <fa-icon [icon]="faBookReader"></fa-icon>
      <ion-label>Collects</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
