<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505746070546-2j71q4l7a4q2dvvkvkllr8ugjfidi5oa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505746070546-2j71q4l7a4q2dvvkvkllr8ugjfidi5oa</string>
	<key>API_KEY</key>
	<string>AIzaSyDkxHnDbJmArwhpyySzG4b6KGUO_KJtg-o</string>
	<key>GCM_SENDER_ID</key>
	<string>505746070546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.venite</string>
	<key>PROJECT_ID</key>
	<string>cantemus-1580214937866</string>
	<key>STORAGE_BUCKET</key>
	<string>cantemus-1580214937866.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505746070546:ios:75cbcb8384b4edfa6b8ccb</string>
	<key>DATABASE_URL</key>
	<string>https://cantemus-1580214937866.firebaseio.com</string>
</dict>
</plist>