<ion-header>
  <ion-toolbar>
    <ion-title i18n routerLink="/">Liturgies</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar (ionChange)="filter($event)" slot="start"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button slot="end" (click)="loadData()" size="small">
        <ion-icon name="refresh" slot="icon-only"></ion-icon>
        <ion-label class="display-hidden" i18n>Refresh</ion-label>
      </ion-button>
      <ion-button routerLink="new">
        <ion-icon name="create"></ion-icon>
        <ion-label i18n>New</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-list>
    <ng-container *ngFor="let container of objects">
      <ion-item *ngIf="!container.hide">
        <ion-badge slot="start">{{container.obj.id }}</ion-badge>
        <ion-label [routerLink]="['edit', container.obj.id]">
          <h2 *ngIf="container.obj.label"> {{ container.obj.label }} ({{container.obj.slug}})</h2>
          <h2 *ngIf="!container.obj.label">{{container.obj.slug }}</h2>
          <h3 *ngIf="container.obj.language || container.obj.version">
            <span *ngIf="container.obj.language">{{ container.obj.language }}</span>
            <span *ngIf="container.obj.language && container.obj.version"> | </span>
            <span *ngIf="container.obj.version">{{ container.obj.version }}</span>
          </h3>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="copy(container.obj)">
            <ion-icon name="copy"></ion-icon>
            <ion-label class="display-hidden">Copy</ion-label>
          </ion-button>
          <ion-button (click)="delete(container.obj)">
            <ion-icon name="trash"></ion-icon>
            <ion-label class="display-hidden">Delete</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
